:root {
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  display: flex;
  background: #f7f6f1;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
